* {margin: 0; padding: 0;}
body { background-color: #fdd; }
#rain {position: fixed; width: 100%; height: 100%; overflow: hidden; border: 0px solid black;}
#rain img {position: absolute; z-index: 20; opacity: .5; }
