.clearMe {display: block; height: 0; clear: both; font-size: 0;}
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

html, body {
    height: 100%;
}
body {
    font-family: georgia, sans-serif;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
#warning {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: 1px solid black;
    padding: 20px;
    background: #000;
    color: white;
    max-width: 300px;
    z-index: 9002;
}
#warning strong {
    display: block;
}
#main {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9001; /* what 9000?! there's no way it can be that high. can it? */
}
#content {
    margin: 0px auto;
    max-width: 820px;
    box-sizing: border-box;
    background: white;
    text-align: center;
    padding: 40px 60px 70px 60px;
    position: relative;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 200px;
}
h1 {
    color: #800;
    font-size: 2.4em;
    margin-bottom: 30px;
}
hr {
    border: 0px;
    margin: 30px 0px 10px 0px;
}
p {
    margin: 25px 0px;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #733;
}
p a {
    color: #000;
}
p.small {
    font-size: 1em;
    opacity: .6;
    margin-left: auto;
    margin-right: auto;
}
.phoneForm {
    margin: 25px 0px 35px 0px;
}
.emailForm {
    margin: 5px 0px 0px 0px;
    min-height: 50px;
    position: relative;
}
.emailForm .thanks {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    pointer-events: none;
    opacity: 0;
    -ms-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}
.emailForm .thanks.visible {
    opacity: 1;
}
.emailForm #email_form_fields {
    -ms-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}
.emailForm #email_form_fields.fade {
    opacity: 0;
}
form input {
    display: inline-block;
    width: 66%;
    box-sizing: border-box;
    font-size: 1.3em;
    padding: 0px 10px;
    height: 60px;
    line-height: 60px;
    margin: 0px;
    border: 1px solid gray;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form.emailForm input {
    height: 50px;
    line-height: 50px;
}
form button {
    display: inline-block;
    width: 33%;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0px 10px;
    box-sizing: border-box;
    height: 60px;
    line-height: 50px;
    margin: 0px;
    background: #900;
    color: white;
    border: 0px none;
    cursor: pointer;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
form.emailForm button {
    height: 50px;
    line-height: 40px;
}
form input.disabled {
    color: gray;
}
form button.disabled {
    background: #aaa;
    cursor: default;
}
form button:hover {
    background: #600;
}
li {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #000;
    text-align: left;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
img.logo {
    margin: 20px 20px 10px 20px;
    height: auto;
    opacity: .75;
    max-width: 300px;
    max-height: 70px;
}
img.logo:hover {
    opacity: 1;
}
a.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 1.0em;
    -moz-user-select: none;
    text-decoration: none;
    border: 0px none;
    border-radius: 5px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 25px 7px 15px 7px;
    padding: 0px 23px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    opacity: .9;
}
a.btn:hover {
    opacity: 1;
}
a.btn.facebook {
    background-color: #3754A9;
}
a.btn.twitter {
    background-color: #2D98D6;
}
a.btn .bubble {
    position: absolute;
    bottom: 80px;
    left: -60px;
    width: 320px;
    background: #444;
    padding: 20px;
    box-sizing: border-box;
    white-space: normal;
    font-family: Georgia, Arial, sans-serif;
    text-transform: none;
    font-size: 1.3em;
    color: #fdd;
    font-weight: normal;
    line-height: 1.6em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .5);
    opacity: 0;
    -ms-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    pointer-events: none;
}
a.btn:hover .bubble {
    opacity: 1;
}
a.btn .bubble em {
    font-weight: bold;
    border-bottom: 1px dotted #fdd;
}
.btn .bubble .arrow-down {
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -10px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #444;
}
.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 900001; /* it... can't... be... */
    background: rgba(0, 0, 0, .8);
    display: table;
    text-align: center;
    opacity: 0;
    -ms-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    display: none;
}
.overlay.visible {
    opacity: 1;
}
.overlay .modal {
    display: table-cell;
    vertical-align: middle;
}
.overlay .modal .inner {
    display: block;
    width: 650px;
    padding: 30px 40px 0px 40px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,1);
    background: white;
    font-family: Helvetica, Arial, sans-serif;
    -ms-transition: margin-top .5s ease-in;
    -o-transition: margin-top .5s ease-in;
    -moz-transition: margin-top .5s ease-in;
    -webkit-transition: margin-top .5s ease-in;
    transition: margin-top .5s ease-in;
    margin-top: -50px;
}
.overlay .modal .inner.visible {
    margin: 0px auto 0px auto;
}
.overlay .modal .inner p {
    color: black;
}
.overlay .modal .inner p.gray {
    color: gray;
    font-size: 1em;
}

.overlay .modal .bottom {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #ddd;
    padding: 20px 40px;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #aaa;
    margin-left: -40px;
}
.overlay .modal .bottom .disclosure {
    color: gray;
    font-size: .9em;
    line-height: 1.3em;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.overlay .modal .bottom .disclosure a {
    color: #444;
}