<h1>Urgent: Net neutrality decision is imminent. Call the FCC every day.</h1>
<p>
    There's some great news and some terrible news: President Obama has answered
    our calls, and just <a href="https://www.youtube.com/watch?v=uKcjQPVwfDk" target="_blank">
    made a strong statement urging the FCC to adopt real
    Net Neutrality rules</a> under “Title II reclassification” — the strongest authority possible.    
</p>
<p>
But FCC Chairman Tom Wheeler is dug in: He's trying to delay and still considering passing rules weaker than what we and Obama want — but are great for the cable companies for which Wheeler used to lobby.   
</p>
<p>
But our nifty tool can beat the Big Cable lobbying machine &mdash; it floods *all* of the FCC with phone calls every day. It's now or never to send a clear message to all of the FCC that we won't be ignored and we won't accept a watered down compromise.  The FCC must stand with Obama and the millions of Internet users who’ve called for strong Title II rules.
</p>