<h1>Urgent: the FCC is stalling on net neutrality. Contact them now!</h1>
<p>
    President Obama has answered
    our calls, and <a href="https://www.youtube.com/watch?v=uKcjQPVwfDk" target="_blank">
    asked the FCC to adopt real
    net neutrality rules</a>.    
    But FCC Chairman Tom Wheeler is dug in: He's trying to delay, and still considering passing fake net neutrality rules that would allow cable companies to set up slow lanes on the Internet
    (the same cable companies for which Wheeler used to lobby).
</p>