<p class="small">
Our nifty tool can beat the Big Cable lobbying machine &mdash; it floods the FCC with phone calls every day. It's now or never to send a clear message to all of the FCC that we won't be ignored and we won't accept a watered down compromise.  The FCC must stand with Obama and the millions of Internet users who’ve called for strong Title II rules.
</p>
<p class="small">
    If your phone number is based outside of the U.S., it will not work with this call tool. But don't fret about it! You can still <a href="https://www.battleforthenet.com/">sign our letter for net neutrality here</a>.
</p>